@use "_vars";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: vars.$font;
  }

.topnav {
    width:70%;
    height:100px;
    background-color:vars.$primary;
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 600px;
    height: 45px;
    border-radius: 40px;
    color:vars.$font-color;

}
.messages {
    width: 30px;
    height: 30px;
    margin: 0px -165px;

}
.notification {
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 5px;
}
.acountpicture {
    width: 70px;
    height: 70px;
    margin: 0px -286px 0px 0px;
}
.acountname {
    color:vars.$font-color;
    margin: 0px 82px;
}
nav {
    width: 30%;
    float: left;
}
.container {
    background-color: vars.$accent;
}