@use "_vars";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: vars.$font;
  }

.topnav {
    width:80%;
    height:100px;
    background-color:vars.$primary;
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 600px;
    height: 45px;
    border-radius: 40px;
    color:vars.$font-color;
    font-size: 24px;
    padding: 0px 0px 0px 11px;
    margin: 0 0 0 25px;
}
.messages {
    width: 30px;
    height: 30px;
    margin: 0px -165px;

}
.notification {
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 5px;

}
.acountpicture {
    width: 70px;
    height: 70px;
    margin: 0px -286px 0px 0px;

}
.acountname {
    color:vars.$font-color;
    margin: 0px 82px;
}
nav {
    width: 20%;
    height: 100vh;
    float: left;
    background-color:rgb(211, 224, 228);
    display:flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
}
.container {
    background-color: vars.$accent;
}
nav img {
    width:40px;
    height:40px;
    position: relative;
    top: 7px;
}
.logo {
    height:175px;
    width:175px;
    left:92px;
    top:0;
}
ul {
    display: inline;

}
li {
    padding: 20px 50px;
}
a {
    font-size:36px;
    text-decoration: none;
    color:vars.$font-color;
    padding: 10px 16px;
    font-weight: 400;
    transition: .25s;
}
a:hover {
    color:white;
    font-size:37px;
}
.item img {
    width:50px;
    height:50px;
}