@use "_vars";



.acountinfo {
    width:80%;
    height:100px;
    background-color:vars.$primary;
    display: flex;
}
input {
    width: 500px;
    height: 40px;
    border-radius: 40px;
    color:vars.$font-color;
}
.messages {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    border:2px vars.$font-color solid;
    border-radius: 2px;
}
.notification {
    width: 40px;
    height: 40px;
}
