* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  animation: fadeInAll 0.3s ease-out;
}

.topnav {
  width: 80%;
  height: 100px;
  background-color: rgb(187, 215, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav input {
  width: 1000px;
  height: 45px;
  border-radius: 40px;
  color: rgb(67, 93, 97);
  font-size: 24px;
  padding: 0px 0px 0px 11px;
  margin: 0 0 0 50px;
}
.topnav .messages {
  width: 30px;
  height: 30px;
}
.topnav .notification {
  width: 30px;
  height: 30px;
}
.topnav .acountpicture {
  width: 70px;
  height: 70px;
}
.topnav .acountname {
  color: rgb(67, 93, 97);
  margin: 0px 51px 0px -31px;
}

nav {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: rgb(211, 224, 228);
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  overflow: hidden;
}
nav img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 7px;
}
nav img.logo {
  height: 175px;
  width: 175px;
  left: 92px;
  top: 0;
}
nav span ul {
  display: inline;
  justify-content: space-around;
}
nav span ul li {
  padding: 20px 50px;
}
nav span ul li a {
  font-size: 30px;
  text-decoration: none;
  color: rgb(67, 93, 97);
  padding: 10px 16px;
  font-weight: 400;
  transition: 0.25s;
}
nav span ul li a:hover {
  color: white;
  font-size: 31px;
  background-color: rgb(187, 215, 224);
  padding: 10px 70px;
  border-radius: 30px;
  font-size: 37px;
}

.main-content {
  width: 80%;
  height: 89.5vh;
  background-color: rgb(187, 215, 224);
  overflow: hidden;
}

.hero {
  width: 67%;
  height: 320px;
  position: relative;
  left: 43px;
  border-radius: 47px;
  text-align: start;
  background-image: url("../images/aquaHero.jpg");
  background-size: cover;
  background-position: 0px -221px;
  margin-bottom: 50px;
}
.hero p {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  top: 33px;
  left: 35px;
  color: white;
}
.hero h1 {
  font-size: 54px;
  font-weight: 600;
  position: relative;
  top: 96px;
  left: 35px;
  color: white;
}
.hero a {
  font-size: 24px;
  background-color: white;
  position: absolute;
  bottom: 58px;
  left: 35px;
  padding: 14px 97px 14px 42px;
  border-radius: 56px;
  transition: 0.25s;
  color: rgb(67, 93, 97);
  text-decoration: none;
}
.hero a:hover {
  color: rgb(33, 47, 50);
}

.joinnowbutton {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 65px;
  left: 213px;
  font-size: 23px;
  padding: 7px 17px;
  border-radius: 56px;
}

.benefits li {
  background-color: rgb(211, 224, 228);
  border-radius: 56px;
  padding: 20px 10px;
  display: inline;
  font-size: 19px;
  margin: 0px 16px;
  color: rgb(67, 93, 97);
}

.selectednav {
  color: white;
  cursor: none;
  background-color: rgb(187, 215, 224);
  padding: 10px 70px;
  border-radius: 30px;
  font-size: 37px;
}

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
.carousel h1 {
  display: inline;
  position: relative;
  bottom: 44px;
  left: 30px;
}

.arrowleft-arrow {
  position: relative;
  bottom: 38px;
  left: 838px;
  font-size: 22px;
  background-color: rgb(211, 224, 228);
  border-radius: 70px;
  padding: 2px 12px;
  transition: 0.25s;
  cursor: pointer;
}

.arrowleft-arrow:hover {
  font-size: 23px;
  background-color: rgb(188, 199, 203);
}

.arrowright-arrow {
  position: relative;
  bottom: 38px;
  left: 844px;
  font-size: 22px;
  background-color: rgb(211, 224, 228);
  border-radius: 70px;
  padding: 2px 12px;
  transition: 0.25s;
  cursor: pointer;
}

.arrowright-arrow:hover {
  font-size: 23px;
  background-color: rgb(188, 199, 203);
}

.carousel-items {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: rgb(211, 224, 228);
  position: relative;
  top: 133px;
  right: 271px;
  border-radius: 10px;
}

.item {
  max-width: 380px;
  margin: 0px 10px;
  flex-flow: nowrap column;
}

.item img {
  width: 350px;
  height: 235px;
  border-radius: 19px;
  padding: 10px 5px;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.see-all {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  top: 298px;
  right: 355px;
  border-radius: 28px;
  border: 2px black solid;
  background-color: rgb(211, 224, 228);
  transition: 0.25s;
}

.see-all:hover {
  font-size: 17px;
  background-color: rgb(188, 199, 203);
}

.Events {
  float: right;
  background-color: orangered;
  width: 20%;
  height: 97%;
  position: relative;
  top: -663px;
  right: 21px;
  border-radius: 20px;
}

@keyframes fadeInAll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=base.css.map */