* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  overflow: hidden;
}

.topnav {
  width: 80%;
  height: 100px;
  background-color: rgb(187, 215, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav input {
  width: 1000px;
  height: 45px;
  border-radius: 40px;
  color: rgb(67, 93, 97);
  font-size: 24px;
  padding: 0px 0px 0px 11px;
  margin: 0 0 0 50px;
}
.topnav .messages {
  width: 30px;
  height: 30px;
}
.topnav .notification {
  width: 30px;
  height: 30px;
}
.topnav .acountpicture {
  width: 50px;
  height: 50px;
}
.topnav .acountname {
  color: rgb(67, 93, 97);
  margin: 0px 51px 0px -31px;
}

nav {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: rgb(211, 224, 228);
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  overflow: hidden;
}
nav img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 7px;
}
nav img.logo {
  height: 175px;
  width: 175px;
  left: 92px;
  top: 0;
}
nav span ul {
  display: inline;
  justify-content: space-around;
}
nav span ul li {
  padding: 20px 50px;
}
nav span ul li a {
  font-size: 30px;
  text-decoration: none;
  color: rgb(67, 93, 97);
  padding: 10px 16px;
  font-weight: 400;
  transition: 0.25s;
}
nav span ul li a:hover {
  color: white;
  font-size: 31px;
  background-color: rgb(187, 215, 224);
  padding: 10px 40px;
  border-radius: 30px;
}

.main-content {
  margin: 0;
  overflow: hidden;
  background-image: url("../images/backgroundimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.aquarium {
  position: relative;
  width: 100vw;
  height: 92vh;
  overflow: hidden;
}

.fish {
  transform: translateX(-100%);
  position: absolute;
  width: 100px;
  height: 100px;
  animation: swim 10s linear infinite;
}
.fish#fish1 {
  top: 1%;
  animation-duration: 8s;
}
.fish#fish2 {
  top: 50%;
  animation-duration: 12s;
}
.fish#fish3 {
  top: 80%;
  animation-duration: 15s;
}
.fish#fish4 {
  top: 35%;
  animation-duration: 10s;
}
.fish#fish5 {
  top: 50%;
  animation-duration: 14s;
}

.shark {
  transform: translateX(-100%);
  position: absolute;
  width: 2400px;
  height: 1600px;
  animation: swim 10s linear infinite;
}
.shark#fish6 {
  top: -30%;
  animation-duration: 60s;
}

.bubble {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  animation: rise 5s linear infinite;
}
.bubble#bubble1 {
  left: 20%;
  animation-duration: 4s;
}
.bubble#bubble2 {
  left: 50%;
  animation-duration: 6s;
}
.bubble#bubble3 {
  left: 80%;
  animation-duration: 5s;
}

.seaweed {
  position: absolute;
  bottom: 0px;
  width: 60px;
  height: 150px;
  animation: sway 3s ease-in-out infinite;
  transform-origin: bottom center;
}
.seaweed#seaweed1 {
  left: 40%;
}
.seaweed#seaweed2 {
  left: 70%;
}
.seaweed#seaweed3 {
  left: 10%;
}
.seaweed#seaweed4 {
  left: 30;
}
.seaweed#seaweed5 {
  left: 60%;
}

@keyframes swim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes rise {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}
@keyframes sway {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}/*# sourceMappingURL=exhibits.css.map */